menu "Application config"

config APP_RF_SENSORS_COUNT
    int "Max connected sensors by radio module"
    default 5
    range 1 5

config APP_BME280_UPDATE_INTERVAL
    int "Update interval for BME280 sensor"
    default 5000
    range 1000 600000

config APP_MHZ19_UPDATE_INTERVAL
    int "Update interval for MHZ19 sensor"
    default 10000
    range 2000 600000

config APP_BH1750_UPDATE_INTERVAL
    int "Update interval for BH1750 sensor"
    default 1500
    range 500 60000

config APP_DISPLAY_UPDATE_INTERVAL
    int "Update interval for display"
    default 5000
    range 1000 600000

config DEFAULT_WIFI_SSID
    string  "DEFAULT_WIFI_SSID"
    default "dimaPC"

config DEFAULT_WIFI_PASS
    string  "DEFAULT_WIFI_PASS"
    default "12345678"

config MQTT_BROKER_URL
    string "Broker URL"
    default "mqtt://127.0.0.1"
    help
        URL of the broker to connect to
config TZ_INFO
    string "Timezone info"
    default "EET-2EEST,M3.5.0/3,M10.5.0/4"
    help
        https://remotemonitoringsystems.ca/time-zone-abbreviations.php
endmenu